<div mat-dialog-title>
  <h5>Chart</h5>
</div>
<form [formGroup]="chartsForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Value</mat-label>
        <input matInput type="text" formControlName="value" value="data">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Select Chart type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let val of chartType" [value]="val">{{val}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <ngx-colors ngx-colors-trigger style="display: inline-block; margin:5px;" formControlName="color">
      </ngx-colors>
    </div>
    <div class=row>
      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>


  <mat-dialog-actions>
    <button mat-raised-button type="button" (click)="closeDialog()" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Add'}}</button>
  </mat-dialog-actions>
</form>